<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
<h1 th:text="${post.subject}"></h1>
<div th:text="${post.content}"></div>
<div class="my-3">
    <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
       th:data-uri="@{|/like/vote/${post.id}|}">
        좋아요
        <span class="badge rounded-pill bg-success" th:text="${#lists.size(post.likeList)}"></span>
    </a>
    <a href="javascript:void(0);" class="delete btn btn-sm btn-outline-secondary"
       th:data-uri="@{|/like/delete/${post.id}|}">
        좋아요취소
        <span class="badge rounded-pill bg-success"></span>
    </a>
</div>
</div>

<script layout:fragment="script" type='text/javascript'>
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });

    const recommend_elements = document.getElementsByClassName("recommend");
    Array.from(recommend_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 추천하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });
</script>
</html>